article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; /* Гарантира, че елементът е 100% широк */
  border: 1px solid #ccc; /* Добавя рамка за ясно разграничение */
  padding: 10px; /* Добавя отстъпи на елемента */
}

img {
  width: 110%; /* Позволява снимката да се показва правилно */
  height: 100%; /* Запазва съотношението на страните на снимката */
  border-radius: 15px; /* Закръгляване на краищата на снимката */
}

h2, p {
  margin: 10px 0; 
}
