
.addComment {
    margin-bottom: 20px;
  }
  
  .addComment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .addComment textarea {
    width: 100%;
    max-width: 400px; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
    box-sizing: border-box; 
  }
  
  .addComment button {
    width: 100%;
    max-width:200px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: blue;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .addComment button:hover {
    background-color: #0056b3;
  }

.btn {  width: 100%;
  max-width:150px;
  padding: 15px 50px;
  border: 10px;
  border-radius: 1000=px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
}
 .btn:hover {
  background-color: #0056b3;
}

.divBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.btnDel{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  max-width:250px;
  padding: 15px 50px;
  border: 100px;
  border-radius: 1000=px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btnDel:hover{
  background-color: #0056b3;
}
.btnEdit{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  max-width:250px;
  padding: 15px 50px;
  border: 100px;
  border-radius: 1000=px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.img {
  display: block; /* Позволява да бъде центрирана и да се добавят отстъпи */
  max-width: 85%; /* Запазва съотношението на страните на снимката */
  width: 85%; /* Задава ширината на снимката */
  height: auto; /* Запазва съотношението на страните на снимката */
  margin: auto; /* Центрира снимката хоризонтално */
  border-radius: 8px; /* Закръгляване на краищата на снимката */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* Добавя тен на снимката */
}
